* {
  background-color: #cfdbe0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  background: transparent;
}
h2 {
  background: rgba(0, 0, 0, 0.7);
  margin: 15px 0 0 0;
  padding: 15px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-size: 20px;
}
.item {
  position: relative;
  z-index: 2;
  padding: 20px;
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  color: white;
  font-size: 18px;
}
li {
  background: transparent;
  font-family: sans-serif;
}

ul {
  background: rgba(0, 0, 0, 0.7);
  list-style-type: circle;
  padding: 0 15px 15px 35px;
  margin: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.scuba {
  background-image: url("./assets/scuba.png");
}
.orak {
  background-image: url("./assets/boat-standart.png");
}
.private {
  background-image: url("./assets/boat-private.png");
}
.buggy {
  background-image: url("./assets/buggy.png");
}
.dolphin {
  background-image: url("./assets/dolphin.png");
}
.fishing {
  background-image: url("./assets/fishing.png");
}
.fethiye {
  background-image: url("./assets/fethiye.png");
}
.ephesus {
  background-image: url("./assets/efes.png");
}
.dalyan {
  background-image: url("./assets/dalyan.png");
}
.transport {
  background-image: url("./assets/transport.jpg");
}

footer {
  background-image: url(./assets/pexels-mikhail-nilov.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;

  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  border-radius: 12px;
  padding: 15px 30px 60px;
  margin-top: 25px;
}

footer p {
  margin: 0;
  background: transparent;
}
